[Unit]
Description=Anyone Stick Master
After=usb-gadget.service
Requires=usb-gadget.service

[Service]
ExecStart=/usr/local/bin/start_anyone_stack.sh
Restart=on-failure
RestartSec=5
User=root
KillSignal=SIGINT
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
