[Unit]
Description=Run CM Warmcheck periodically

[Timer]
OnBootSec=10
OnUnitActiveSec=30
AccuracySec=5
Persistent=true

[Install]
WantedBy=timers.target
