[Unit]
Description=USB Gadget Setup (NCM)
DefaultDependencies=no
After=local-fs.target sysinit.target systemd-modules-load.service
Before=network-pre.target network.target anyone-stick.service
Wants=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/usb_gadget_setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
